// 
// 
// _settings.scss - Site settings styles (variables & definitions)




$first-color:#f9f9f9;
$second-color:#14161f;
$border-color:rgb(0,0,0, .2);
$bacground-light-color:rgb(219, 251, 155, 0.5);
$light-font-weight: 200;

$bacground-dark-color:rgb(128,128,128,0.5);



// mixin


@mixin display-center{
    display: flex;
    justify-content: center;
    align-items: center;
};