
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;

}
body{
    min-height: 100vh;
    font-family: "Montserrat",sans-serif;
    color: $second-color;
    background-color:$first-color ;
    font-size: 1.6rem;
    
    
}